<a href="mailto:anne.ouyang@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
  

<a href="https://www.github.com/anneouyang" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
  

  
<a href="http://www.linkedin.com/in/anneouyang/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  

  
  
<a href="https://twitter.com/anneouyang" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  

  
  
 <a href="/assets/img/wechat.jpg"><i class="fa fa-wechat" aria-hidden="true"></i></a>